.btn {
	border: 1px solid $body-text;
	background-color: #fff;
	border-radius: 15px;

	cursor: pointer;

	font-family: $font-black;
	font-size: 1rem;
	height: 30px;
	line-height: 30px;

	min-width: 105px;

	position: relative;
	padding: 0 20px;

	text-align: center;
	text-transform: uppercase;

	&:hover {
		box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2);
	}

	&:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}

	@include transition();

	&.btn-secondary {
		background-color: $secondary;
		border: none;
		color: $primary;

		&:hover {
			background-color: $secondary--dark;
			// color: $primary--dark;
		}
	}

	&.btn-circle {
		display: inline-block;
		border-radius: 9999px;
		padding: 0;
		min-width: inherit;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;

		[class^="icon"] {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}

	&.btn-arrow {
		&:before {
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 2.5px 0 2.5px 4px;
			border-color: transparent transparent transparent currentColor;

			position: absolute;
			top: -1px;
			bottom: 0;
			right: 10px;
			margin: auto;
		}
	}
}
