-
	function slugify(text) {
	  return text.toString().toLowerCase()
	    .replace(/\s+/g, '-')           // Replace spaces with -
	    .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
	    .replace(/\-\-+/g, '-')         // Replace multiple - with single -
	    .replace(/^-+/, '')             // Trim - from start of text
	    .replace(/-+$/, '');            // Trim - from end of text
	}

	function remove_br(text) {
		return text
			.replace('<br>', ' ')
			.replace('<br/>', ' ');
	}

	function dashToUnderscore(text) {
		return text
			.replace('-', '_');
	}

