//param.jade

-
  navigation = [ 
    [
     {
       label: 'Contact',
       url: 'contact.html',
       id: 'contact',
     },
    ],
    [
     {
       label: 'Forum (FAC)',
       url: 'forum.html',
       id: 'forum',
     },
    ],
    [
     {
       label: 'Petites-annonces',
       url: 'petites-annonces.html',
       id: 'petites-annonces',
     },
    ],
    [
     {
       label: 'Espace presse',
       url: 'espace-presse.html',
       id: 'espace-presse',
     },
    ],
  ]