/* # Font Mixins */
/* One mixin by font-style, order by asc */

/*****************/
/****** Custom *****/
/*****************/

@mixin font-body-text ($font: $font, $font-size: 1.4rem, $weight : 400, $style: normal, $line-height : 1.2){
  font:{
    family: $font;
      style: $style;
    size: $font-size;
    weight: $weight;
  }
  line-height: $line-height;
}

//@include font-style-1;

