/* # Clearfix */

@mixin clearfix
{
	&:before,
	&:after
	{
		content: '';
		display: table;
	}
	&:after
	{
		clear: both;
	}
}

/* # _Reset_  */

@mixin reset
{
	margin:  0;
	padding: 0;
	border:  0;
	background-color: transparent; // pour les boutons
	list-style-type: none; // pour les listes
}


/**** Keyframes Animation ****/
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

/*
Accessibility hidden
https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
*/

@mixin hide-for-viewer
{
	position: absolute;
	height:  1px;
	width:   1px;
	padding: 0;
	border:  0;
	overflow: hidden;
	clip: rect(1px  1px  1px  1px);
	clip: rect(1px, 1px, 1px, 1px);
}


/* # block stretching */

@mixin stretch($length: 0)
{
	position: absolute;

	left:   $length;
	top:    $length;
	bottom: $length;
	right:  $length;

}


// Inline-block bugfix
// @link http://www.alsacreations.com/astuce/lire/1432-display-inline-block-espaces-indesirables.html
@mixin no-inline-block-margin()
{
	margin-right: -0.25em;

}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin ls($space) {
    letter-spacing: 0.001em * $space ;
}

@mixin aspect-ratio($ratio-or-width, $height: null)
{
	$padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
	&:before { content:''; float: left; padding-bottom: $padding;  }
	&:after  { content:''; display: table; clear: both;  }
}


@mixin simple-icon-svg($url, $width:0, $height:0) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;

  @if $width != 0 {
    width: $width * 1px;
    height: $height * 1px;
  }
}

@mixin simple-icon($url, $width:0, $height:0, $bgwidth:0, $bgheight: 0) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @if $width == 0 {
    @error 'simple-icon size undefined';
  } @elseif $bgwidth == 0 {
    width: $width * 1px;
    height: $height * 1px;
  } @else {
    width: $width * 1px;
    height: $height * 1px;
    background-size: $bgwidth * 1px $bgheight * 1px;
  }
}

@mixin transition($duration: .25s, $delay: 0s, $ease: ease, $property: all) {
  transition: $property $duration $ease $delay;
}


$ease: (
  in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530),
  in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190),
  in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220),
  in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060),
  in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715),
  in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035),
  in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335),
  in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045),
  out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940),
  out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000),
  out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000),
  out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000),
  out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000),
  out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000),
  out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000),
  out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275),
  in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955),
  in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000),
  in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000),
  in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000),
  in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950),
  in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000),
  in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860),
  in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550)
);

@function ease($key) {
  @if map-has-key($ease, $key) {
    @return map-get($ease, $key);
  }

  @warn "Unkown '#{$key}' in $ease.";
  @return null;
}