/* https://github.com/sass-mq/sass-mq */

$mq-breakpoints: (
	mobile: 640px,
	tablet: 768px,
	desktop: 1024px,
	wide: 1366px,
	xlarge: 1440px
);

/****************/
/* # Variables */
/****************/

// Fonts
$font: sans-serif !default;

$white: #fff;
$black: #212126;
$pure-black: #000;
$body-text: #3c3c3b;
$grey: #aeaeae;

$grey-loader: #f7f7f7;

$primary: #ffe900;
$primary--dark: darken($primary, 5%);
$secondary: #e13262;
$secondary--dark: darken($secondary, 10%);


// Widths
$wrapper-large-w: 1280px;