//- ariane.jade

ol#ariane(vocab='http://schema.org/', typeof='BreadcrumbList')
  li(property='itemListElement', typeof='ListItem')
    a(property='item', typeof='WebPage', href='index.html')
      span(property='name') Accueil
    meta(property='position', content='1')
  if (parentPage)
    li(property='itemListElement', typeof='ListItem')
      a(property='item', typeof='WebPage', href=parentPageUrl)
        span(property='name') #{parentPage}
      meta(property='position', content='2')

  - if (activePageLabelAriane != null)
    - var activePageLabel = activePageLabelAriane 
  
  li(property='itemListElement', typeof='ListItem')
    a(property='item', typeof='WebPage', href=activePageUrl)
      span(property='name') #{activePageLabel}
    meta(property='position', content='3')
