head
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content="CFA")
	title #{activePageLabel} | Static
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
	script(src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
	script(src='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
	script(src='js/lib/jquery.form-validator.min.js')
	link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
	link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css')
	link(rel='stylesheet', type='text/css', href='dist/css/main.css')
	include ./utils/functions
	include ./utils/param
	include ./mixins