nav#nav
  ul.menu.list-inline
      if (activeMenu === undefined)
        - var activeMenu = activePage

      each elem in navigation
        li(class=elem[0].id + " " + (activeMenu === elem[0].id ? 'active' : ''))
          a(href=elem[0].url) #{elem[0].label}
          if (elem[1] != undefined)
              ul.menu.no-bullets.reset
                - for (var i = 1; i < elem.length; ++i) {
                    li(class=elem[i].id + " " + (activeMenu === elem[i].id ? 'active' : '')): a(href=elem[i].url) #{elem[i].label}
                -  }