block variables
doctype html
html
	include head
	body(class=pageClasses)
		.loader.valign
			.loader_logo
			.loader_bar
			.loader_info

		#global-container
			include header
			block main
			include footer
	script(type='text/javascript', src='dist/javascript/app.js')