extends includes/template

block variables
	- var activePage = 'home'
	- var activePageLabel = 'Accueil'
	- var pageClasses = activePage

block main
	.wrapper-large.simple-padding
		h1.page-title.txtcenter.
			Association des Collectivités pour la Maîtrise des Déchets & de l’Environnement
		h2.page-subtitle.txtcenter.
			Depuis 30 ans,<br>le réseau des collectivités du Nord-Est, compétentes en gestion des déchets, de l’eau et/ou de l’assainissement